.match {
  transition: background-color 0.2s ease-out, transform 0.2s ease-out,
    box-shadow 0.2s ease-out;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #242424;
}

.match:hover {
  background-color: rgb(80 0 255 / 8%);
  transform: scale(1.05);
  box-shadow: 10px 10px 6px #242424;
}

.figure {
  height: 96px;
  width: 96px;
}
